.navbar{
    height: 50px;
    border-bottom: 1px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 13px;
    counter-reset: #555;

    .navContainer{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search{
            display: flex;
            align-items: center;
            .seacrhIcon{
                color: #555;
                cursor: pointer;
            }

            input{
                border: none;
                background: transparent;
                font-size: 12px;
                outline: none;

                &::placeholder{
                    font-size: 12px;
                }
            }
        } 

        .items{
            display: flex;
            .item{
                margin-left: 25px;
                display: flex;
                align-items: center;
                color: #555;
                position: relative;

                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;
                    cursor: pointer;
                }

                .icon{
                    font-size: 22px;
                    color: #555;
                }

                .counter{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: red;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    padding: 2px;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}